@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212836;
  --foreground: #ededed;
  --header: #34363b;
  --border: #515458;
}

[data-theme="dark"] {
  --background: #212836;
  --foreground: #ededed;
  --header: #34364b;
  --border: #515458;
  --line: #212836;
}

[data-theme="light"] {
  --background: #f5f5f5;
  --foreground: #000000;
  --header: #fbfbfb;
  --border: #e5e8ed;
  --line: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  min-width: 4rem;
  height: 100vh;
  background-color: var(--header);
  border-right: 2px solid var(--border);
}

.topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  min-height: 3.5rem;
  max-height: 3.5rem;
}

.run-btn{
  margin-right: 1vw;
  background-color: #0069ef;
  color: white;
  height: 2rem;
  width: 4.5rem;
  transition: all 0.5s;  
}

.run-btn:hover{
  background-color: #0047d1;
}

.header{
  min-height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
  align-items: center;
  padding-inline: 1vw;
  vertical-align: auto;
  background-color: var(--background);
  font-size: 1rem;
}

.clear-btn{
  background-color: transparent;
  border: 1px solid rgb(221,221,221);
  width: 4.5rem;
  height: 2rem;
  border-radius: 3px;
}

.lang{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border);
  width: 70%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.lang-active{
  background-color: #0069ef;
}

.editor{
  background-color: var(--background) !important;
}

.inp-con{
  margin-left: 4rem;
  display: flex;
  height: 100vh;
}

.output{
  flex: 1;
  border-left: 1px solid var(--border);
}

.output-con{
   padding: 10px;
   border-radius: 5px;
}

.theme-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 3.5rem;
  border: 2px solid var(--border);
}


@media only screen and (max-width: 580px) {
  .inp-con{
    display: flex;
    flex-direction: column;
  }
}


.cm-editor {
  background-color: var(--background) !important;
}

.cm-gutter {
  background-color: var(--background) !important
}

.ͼ2 .cm-gutters {
  border: none;
  background-color: var(--line);
}
