@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212836;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212836;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
  display: flex;
  flex-direction: column;
  max-width: 5rem;
  height: 100vh;
  background-color: #34363b;
}
