@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212836;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212836;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  min-width: 4rem;
  height: 100vh;
  background-color: #34363b;
  border-right: 2px solid #373d49;
}

.topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #34363b;
  min-height: 3.5rem;
  max-height: 3.5rem;
}

.run-btn{
  margin-right: 1vw;
  background-color: #0069ef;
  color: white;
  height: 2rem;
  width: 4.5rem;
  transition: all 0.5s;  
}

.run-btn:hover{
  background-color: #0047d1;
}

.header{
  min-height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
  align-items: center;
  padding-inline: 1vw;
  vertical-align: auto;
  background-color: #212836;
  font-size: 1rem;
}

.clear-btn{
  background-color: transparent;
  border: 1px solid rgb(221,221,221);
  width: 4.5rem;
  height: 2rem;
  border-radius: 3px;
}

.lang{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #515458;
  width: 70%;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.lang-active{
  background-color: #0069ef;
}

.inp-con{
  margin-left: 4.2rem;
  display: flex;
  height: 100vh;
}

.theme-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 3.5rem;
  border: 2px solid #515458;
}


@media only screen and (max-width: 580px) {
  .inp-con{
    display: flex;
    flex-direction: column;
  }
}
